/****************************/
/*COLORS FOR THE SITE
 #FEDE69 -Puppy Yellow
 #9ED194 -Puppy Green
 #FFE0A7 -Puppy Tan
 #2E2E2D -Puppy Black
*/
/****************************/

h3, h4, h5, h6 {
  font-family: Quicksand;
  font-weight: 600;
  font-size: 22px;
}
p, span {
  font-family: Quicksand;
  font-weight: 500;
  font-size: 20px;
  color: black;
}
.fa, .fab {
  color: #FEDE69;
}
nav {
  min-width: 100%;
}
.custom-link{
  color:#2E2E2D!important;
  text-transform: uppercase;
  font-size: 14px;
}
.active {
  text-decoration: underline;
}
.outline {
  border: 2px solid black;
  padding-right: 175px;
  padding-left: 175px;
  padding-bottom: 10px;

}
.grid {
  padding: 4px;
  background-color: #FFE0A7;
}
.margin {
  margin: auto;
  max-width: 25%;
}
.button {
  max-width: 50%;
}

legend {

  padding-right: 10px;
  padding-left: 10px;
}

.myButton {
box-shadow: 0px 10px 14px -7px #3e7327;
background:linear-gradient(to bottom, #77b55a 5%, #72b352 100%);
background-color:#9ED194;
border-radius:4px;
border:1px solid #4b8f29;
display:inline-block;
cursor:pointer;
color:black;
font-size:16px;
padding:8px 12px;
text-decoration:none;
text-shadow:0px 1px 0px #5b8a3c;
}
.myButton:hover {
background:linear-gradient(to bottom, #72b352 5%, #77b55a 100%);
background-color:#72b352;
}
.myButton:active {
position:relative;
top:1px;
}

.myButton2 {
	box-shadow: 0px 10px 14px -7px #423b22;
	background-color:#fede69;
	border-radius:8px;
	display:inline-block;
	cursor:pointer;
	color:black;
	padding:8px 16px;
	text-decoration:none;
	text-shadow:0px 1px 0px #5c4f1f;
}
.myButton2:hover {
  background-color:#dbbf5c;
  color: white;
}
.myButton2:active {
	position:relative;
	top:1px;
}
.fieldset {
  border: 2px solid black;

}
.logo-img{
  margin-left: 8%;
}

.nav-link:hover{
  color: #9ED194;
  text-decoration: underline;
}

.sign-link{
  color: white;
  text-transform: uppercase;
}

.sign-link:hover{
  color: rgb(254, 222, 105);
}
input, textarea {
  border: 1.5px solid #9ED194;
  -webkit-border-radius: 8px;
  border-radius: 8px;
}
/*************************/
/*****footer styles*****/
/*************************/

footer{
  background-color: grey;
  margin: 5% 0;
}
.footer-text{
color: white;
margin-bottom: 3%;
text-transform: uppercase;
}
.group-members{
  font-size: 10px;
  color: white;
  margin-top: 3%;
  text-transform: uppercase;
}

.icons{
  padding: 2% 0;
}

/*************************/
/*****footer styles*****/
/*************************/

@media only screen and (min-width: 45em) { /*responsive*/
  article {
      float: left;
      width: 45%;
      margin-right: 0;
  }
  aside {
      float: right;
      width: 45%;
      margin-left: 0;
  }
  footer {
      clear: both;
  }
}