/****************************/
/*COLORS FOR THE SITE
 #FEDE69 -Puppy Yellow
 #9ED194 -Puppy Green
 #FFE0A7 -Puppy Tan
 #2E2E2D -Puppy Black
*/
/****************************/
.outline {
  border: 2px solid black;
  padding-right: 175px;
  padding-left: 175px;
  padding-bottom: 10px;

}
.grid {
  max-width: 62%;
  margin: 2px;
  padding: 4px;
  margin: auto;
  background-color: #aeeb34;
}
.margin {
  margin: auto;
  max-width: 25%;
}
.button {
  max-width: 50%;
}

legend {
  font-size: 1.4em;
  color: black;
  font-weight: bold;
  text-align: center;
  font-family: Verdana, Tahoma, sans-serif;
  padding-right: 10px;
  padding-left: 10px;
}
.legend {
  color: black;
  font-weight: bold;
  text-align: left;
  font-family: Verdana, Tahoma, sans-serif;
  font-size: 1.1em;
}
.myButton {
box-shadow: 0px 10px 14px -7px #3e7327;
background:linear-gradient(to bottom, #77b55a 5%, #72b352 100%);
background-color:#77b55a;
border-radius:4px;
border:1px solid #4b8f29;
display:inline-block;
cursor:pointer;
color:#ffffff;
font-family: Verdana, Tahoma, sans-serif;
font-size:16px;
font-weight:bold;
padding:6px 12px;
text-decoration:none;
text-shadow:0px 1px 0px #5b8a3c;
}
.myButton:hover {
background:linear-gradient(to bottom, #72b352 5%, #77b55a 100%);
background-color:#72b352;
}
.myButton:active {
position:relative;
top:1px;
}
.myButton2 {
box-shadow:inset 0px 1px 3px 0px #91b8b3;
background:linear-gradient(to bottom, #768d87 5%, #6c7c7c 100%);
background-color:#768d87;
border-radius:5px;
border:1px solid #566963;
display:inline-block;
cursor:pointer;
  color:#ffffff;
  font-family: Verdana, Tahoma, sans-serif;
font-size:15px;
font-weight:bold;
padding:11px 23px;
text-decoration:none;
text-shadow:0px -1px 0px #2b665e;
}
.myButton2:hover {
background:linear-gradient(to bottom, #6c7c7c 5%, #768d87 100%);
background-color:#6c7c7c;
}
.myButton2:active {
position:relative;
top:1px;
}
.fieldset {
  border: 2px solid black;
  font-family: Verdana, Tahoma, sans-serif;
}
.logo-img{
  margin-left: 8%;
}

.nav-link:hover{
  color: #9ED194;
  text-decoration: underline;
}

.sign-link{
  color: white;
  text-transform: uppercase;
}

.sign-link:hover{
  color: rgb(254, 222, 105);
}

